.router-link-active {
    font-weight: bold;
}

.bg-primary {
    background-color: #2c3e50 !important;
}


.nav-brand {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-col {
    display: flex; justify-content: center;
}